<div class="flex-container footer">
<div class="links">
  <p>Link1</p>
  <p>Link1</p>
  <p>Link1</p>
  <p>Link1</p>
  <p>Link1</p>
</div>

<div class="contact">
    <h4>Contact Us</h4>
    <hr/>
    <p>Address Line1</p>
    <p>Address Line2</p>
    <p>City</p>
    <p>Country</p>
</div>

<div class="social-links">
  <p><i class="glyphicon glyphicon-earphone"></i> 123-456-789</p>
  <p><i class="glyphicon glyphicon-phone-alt"></i> 123-456-789</p>
  <p><i class="glyphicon glyphicon-copyright-mark"></i> Website</p>
</div>

<div class="links" >
  <p>Link1</p>
  <p>Link1</p>
  <p>Link1</p>
  <p>Link1</p>
</div>

</div>

</body>
</html>
