<div class="container">
  <%- include('header') -%>
  <div class="flex-container">
    <div class="slider">
    </div>
  <div class="notifications">
    <div>
      <p>Notification 1</p>
    </div>
    <div>
      <p>Notification 2</p>
    </div>
    <div>
      <p>Notification 3</p>
    </div>
  </div>
  </div>
  <%- include('footer') -%>
</div>
